Source: triqs-hubbardi
Section: scientific
Priority: extra
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 8.0.0), triqs
Standards-Version: 3.9.3
Homepage: https://triqs.github.io/triqs/1.4/applications/hubbardI/

Package: triqs-hubbardi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, triqs
Description: An tromic solver based on the triqs library
